<div class="card">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
        <div class="row">
            <select class="btn btn-primary form-control" [(ngModel)]="category" (change)="filter()">
                <option value="ALL">Category</option>
                <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
            </select>
        </div>
        <div class="table-responsive" *ngIf="books.length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books; let i = index" [ngClass]="{
                        'odd': 0 === i % 2,
                        'even': 0 !== i % 2 
                    }">
                        <td>{{ book.title }}</td>
                        <td>{{ book.description }}</td>
                        <td>{{ book.category }}</td>
                        <td>{{ book.price.split(' ')[0]|currency: book.price.split(' ')[1] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
